<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>SSLServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.SSLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSLServlet</servlet-name>
    <url-pattern>/SSLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnalyseServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.AnalyseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyseServlet</servlet-name>
    <url-pattern>/AnalyseServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>convertAnalyze</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.convertAnalyze</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>convertAnalyze</servlet-name>
    <url-pattern>/convertAnalyze</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveStrategyServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.saveStrategyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveStrategyServlet</servlet-name>
    <url-pattern>/saveStrategyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateEditServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.CreateEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEditServlet</servlet-name>
    <url-pattern>/CreateEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StrategyInfoServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.StrategyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StrategyInfoServlet</servlet-name>
    <url-pattern>/StrategyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStrategyInfoFromObjectStorage</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.GetStrategyInfoFromObjectStorage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStrategyInfoFromObjectStorage</servlet-name>
    <url-pattern>/GetStrategyInfoFromObjectStorage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CopyStrategyServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.CopyStrategyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyStrategyServlet</servlet-name>
    <url-pattern>/CopyStrategyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStrategyHierarchy</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.GetStrategyHierarchy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStrategyHierarchy</servlet-name>
    <url-pattern>/GetStrategyHierarchy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAdminStrategyInfo</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.GetAdminStrategyInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdminStrategyInfo</servlet-name>
    <url-pattern>/GetAdminStrategyInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadHierarchy</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.UploadHierarchy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHierarchy</servlet-name>
    <url-pattern>/UploadHierarchy</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadTemplateServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.UploadTemplateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadTemplateServlet</servlet-name>
    <url-pattern>/UploadTemplateServlet</url-pattern>
  </servlet-mapping>
  
   
 <!--  <servlet>
    <servlet-name>UploadMappingConfigServlet</servlet-name>
    <servlet-class>com.ibm.contracts.advisor.servlet.UploadMappingConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMappingConfigServlet</servlet-name>
    <url-pattern>/UploadMappingConfigServlet</url-pattern>
  </servlet-mapping> -->
  
  <welcome-file-list>
    <welcome-file>SSLServlet</welcome-file>
  </welcome-file-list>
</web-app>